<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1>You favorited your post "<%= @post.title %>"</h1>
        <p>
            You will receive updates on this post from now on!
        </p>
        <p>
        <%= link_to "View on site", topic_post_url(@post.topic, @post, anchor: "comment-#{@comment.id}")%>
        </p>
    </body>
</html>