<!DOCTYPE html>
    <head>
    <title>About</title>
    </head>
    <body>
        <div>
            <%= link_to "Follow me", "https://www.facebook.com/kurtzikaras", class: "social-btn" %>
        </div>
    </body>
</html>



